body {
	background-image: url(https://n6-img-fp.akamaized.net/free-vector/abstract-pattern-with-zig-zag-lines_1060-42.jpg?size=338&ext=jpg);
}

#img-box {
	position: 0 auto;
	background-color: gray;
	border-radius: 15px;
	width: 870px;
	margin: auto;
}

h1 {
	text-align: center;
	color: white;
}

img {
	border-radius: 50px;
	padding: 15px;
	width: 250px;
	height: 250px;
}

#second {
	position: fixed;
	left: 275px;
}

#third {
	position: fixed;
	left: 540px;
}
