body {
	background-image: url(https://n6-img-fp.akamaized.net/free-vector/abstract-pattern-with-zig-zag-lines_1060-42.jpg?size=338&ext=jpg);
}

#img-box {
	position: 0 auto;
	background-color: gray;
	border-radius: 1%;
	width: 39%;
	margin: auto;
}

h1 {
	text-align: center;
	color: white;
}

img {
	border-radius: 5%;
	padding: 3%;
	width: 10vw;
	height: 10vw;
}
